
##########################################
#VARIABLES
#The following variables are used throughout the creation of the project and all resources related with the Kubernetes Cluster
#Feel free to change it if you want to customize any name
#Keep in mind that you must change this variables in the cleanup.sh script, to match the parameters.
#
##########################################
#PROJECT_ID is used to create a project within Google Cloud Platform
#Project IDs must start with a lowercase letter and can have lowercase ASCII letters, digits or hyphens. Project IDs must be between 6 and 30 characters.

PROJECT_ID="mstakx-k8s-assessment"
#CLUSTER_NAME is used in the creation of the cluster, this is the name that will be set on the Kubernetes Engine page.

CLUSTER_NAME="mstakx"
#REGION is used in the creation of the cluster, this property will set the closest region for the United Kingdom in this case "europe-west2".

REGION="europe-west2"

